body {
    padding: 0;
    max-width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

body, div {
    display: flex;
    flex-direction: column;
}

#arena-container {
    flex: 1;
}

#root {
    flex: 1
}